{{!-- ENTIRE CONTAINER AND CREATE POST BUTTON --}}
<container class="grid grid-cols-1 gap-4 w-screen h-screen">
  <div class="hero w-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <p class="mb-5">The posts below are created by users in your area! <br> Browse freely or log in to interact.</p>
        <button class="btn btn-warning">
          {{#if logged_in}}
          <a href="/createPosts">Create New Post</a>
          {{else}}
          <a href="/login">Log In to Create your own post</a>
          {{/if}}
        </button>
      </div>
    </div>
  </div>

  {{!-- CREATE POST FORM --}}
  <div class="card w-screen bg-warning shadow-xl w-4/5">
    <div class="card-body">
      <h2 class="card-title">
        <div class="avatar">
          <div class="w-24 rounded">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        {{firstName}}
        <div class="badge badge-neutral">New</div>
      </h2>

      <form class="form new-post-form">
        <div class="form-group">
          <label for="project-name"></label>
          <input class="form-input rounded-md border-2 w-full mb-5" type="text" id="content" name="content"
            placeholder="What's on your mind, {{firstName}}?" />
        </div>
        <div class="form-group">
          <input class="form-input rounded-md border-2 w-30 mb-5" type="text" id="topic" name="topic"
            placeholder="topic" />
        </div>

        <div class="form-group ">
          <button type="submit" class="btn btn-warning">Create</button>
        </div>
      </form>
    </div>
  </div>

  {{!-- SHOW FORMER POSTS IN THE FEED --}}
  {{#each posts}}
  <div class="card w-screen bg-base-300 shadow-xl w-4/5">
    <div class="card-body">
      <h2 class="card-title">
        <div class="avatar">
          <div class="w-24 rounded">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        {{firstName}}
        <div class="badge badge-warning">{{topic}}</div>
      </h2>
      <p class="w-full mb-5">{{content}}</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">{{id}}</div>
      </div>
    </div>
  </div>
  {{/each}}
</container>

{{!-- JAVASCRIPT LINK --}}
<script src="/js/posts.js"></script>